snippet dt "doctype"
<!DOCTYPE html>
$1
endsnippet

snippet html "html"
<html>
	$1
</html>
endsnippet

snippet head "head"
<head>
	<title>$1</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="$2">
</head>
$3
endsnippet

snippet body "body"
<body>
	<div class="$1" id="$2">
		$3	
	</div>
</body>
endsnippet

snippet ss "script src"
<script src="$1"></script>
endsnippet
